    <script type="text/javascript">
        var base_url = '/';
    </script>

	
	<script type="text/javascript" src="<?php echo asset_url(); ?>js/iam.js"> </script>
	

    <script src="<?php echo asset_url(); ?>js/ReadSpeaker.js" type="text/javascript"></script>
    <link id="rsmod_Styles" type="text/css" rel="stylesheet" href="<?php echo asset_url(); ?>css/ReadSpeaker.Styles.css">
     <link id="rsmod_Styles" type="text/css" rel="stylesheet" href="<?php echo asset_url(); ?>css/font-awesome.css">
       
	<script id="req_Core" type="text/javascript" src="<?php echo asset_url(); ?>js/ReadSpeaker.Core.js" async></script>
	<script id="req_pub_Config" type="text/javascript" src="<?php echo asset_url(); ?>js/ReadSpeaker.pub.Config.js" async>    </script>
<script id="rsmod_lib_RSLib" type="text/javascript" src="<?php echo asset_url(); ?>js/ReadSpeaker.lib.RSLib.js"></script>
<link type="text/css" rel="stylesheet" charset="UTF-8" href="<?php echo asset_url(); ?>css/translateelement.css">
<script id="rsmod_Common_Settings" type="text/javascript" src="<?php echo asset_url(); ?>js/ReadSpeaker.Common.Settings.js" async></script>
<script id="rsmod_PlayerAPI" type="text/javascript" src="<?php echo asset_url(); ?>js/ReadSpeaker.PlayerAPI.js" async></script><script id="rsmod_HL" type="text/javascript" src="<?php echo asset_url(); ?>js/ReadSpeaker.HL.js" async></script>
<script id="rsmod_ui" type="text/javascript" src="<?php echo asset_url(); ?>js/ReadSpeaker.ui.js" async></script>
<script type="text/javascript" src="<?php echo asset_url(); ?>js/swfobject.js"></script>
<style type="text/css" media="screen">
#adn_8237fe6822b487ca2253b9cc6f0579aa {visibility:hidden}
#adn_77a1e2ff490e0e98973ac3c615cb91b9 {visibility:hidden}
.logo13{margin-left:75px;
	width:100px;
	height:100px;
	vertical-align:central;}
</style>
<link rel="stylesheet" type="text/css" href="<?php echo asset_url(); ?>css/widget010.old.css" media="all">
